In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.2.0'

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
dataset.drop(labels=['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [8]:
dataset.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [9]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [10]:
dataset.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [11]:

mapping1 = {'Female':0,'Male':1}
dataset['Gender'] = dataset.Gender.map(mapping1)

In [12]:
dataset.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [13]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [14]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encode',OneHotEncoder(),[1])],remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [16]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
ann = tf.keras.models.Sequential()

In [20]:
  ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [21]:
  ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [22]:
  ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [23]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [24]:
ann.fit(X_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7333 - accuracy: 0.5876
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5898 - accuracy: 0.7816
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5005 - accuracy: 0.7977
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4573 - accuracy: 0.8061
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4368 - accuracy: 0.8123
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4257 - accuracy: 0.8161
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4181 - accuracy: 0.8227
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4121 - accuracy: 0.8257
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4077 - accuracy: 0.8278
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4043 - accuracy: 0.8306
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4011 - accuracy: 0.8325
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3980 - accuracy: 0.8330
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3955 - accuracy: 0.8345
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3928 - accuracy: 0.8335
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3908 - accuracy: 0.8328
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3885 - accuracy: 0.8336
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3866 - accuracy: 0.8353
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3841 - accuracy: 0.8341
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3816 - accuracy: 0.8350
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3794 - accuracy: 0.8356
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3772 - accuracy: 0.8355
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3752 - accuracy: 0.8344
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3731 - accuracy: 0.8360
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3710 - accuracy: 0.8360
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3691 - accuracy: 0.8354
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3680 - accuracy: 0.8355
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3659 - accuracy: 0.8354
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3646 - accuracy: 0.8367
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3629 - accuracy: 0.8370
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3613 - accuracy: 0.8410
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3600 - accuracy: 0.8529
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3585 - accuracy: 0.8516
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3576 - accuracy: 0.8539
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8555
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3557 - accuracy: 0.8543
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3542 - accuracy: 0.8546
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3530 - accuracy: 0.8551
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3524 - accuracy: 0.8561
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3513 - accuracy: 0.8577
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3508 - accuracy: 0.8576
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3496 - accuracy: 0.8571
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3491 - accuracy: 0.8555
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8571
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3472 - accuracy: 0.8576
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3463 - accuracy: 0.8577
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8587
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8583
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8571
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8597
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8568
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8568
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8586
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8608
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8591
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8594
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8597
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8591
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8594
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8614
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8614
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8604
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8605
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8608
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8633
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8619
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8619
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8618
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8627
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8631
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8610
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8619
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8597
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8624
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8622
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8620
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8635
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8610
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8620
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8621
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8615
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8627
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8637
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8622
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8626
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8648
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8629
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8637
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8635
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8645
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8635
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8629
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8615
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8644
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8634
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8637
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8625
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8622
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8633
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8624
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8645

In [30]:
y_pred= ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))>0.5

In [31]:
y_pred

array([[False]])

In [38]:
y_pred1 = ann.predict(X_test)

In [39]:
y_pred1 = y_pred1>0.5

In [40]:
y_pred1

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [43]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm= confusion_matrix(y_test,y_pred1)
print(cm)
accuracy_score(y_test,y_pred1)

[[1512   83]
 [ 200  205]]

0.8585